.back-to-top-button {
  min-width: 200px;
  width: 100%;
  height: 8vh;
  color: #ffffff; /* Altere a cor do texto para uma cor com contraste suficiente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #00a7df; /* Altere a cor de fundo para uma cor com contraste suficiente */
  font-family: "Roboto", sans-serif;
  border: none; /* Remover a borda */
}
